    @charset "UTF-8";
    .navbar {
        border-radius: 0;
        z-index: 10;
        box-shadow: 5px 4px 5px #000;
    }
    
    header {
        background-color: #F44336;
        color: #fff;
        height: 50px;
    }
    
    .jumbotron {
        margin-bottom: 10;
        margin-top: 10;
        box-shadow: 5px 4px 5px #000;
    }
    
    body {
        background-image: url("images/bodyBackground.jpg");
        background-repeat: repeat;
        background-color: #cccccc;
    }
    
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
    /* Carousel */
    
    #myCarousel {}
    /* Carrello */
    
    .carrello {
        background-color: rgb(121, 4, 4);
    }
    /* Mouse che passa sulle voci del navbar */
    
    .navbar .navbarOggetto:hover {
        background-color: rgb(121, 4, 4);
        border-bottom: 2px solid rgb(255, 255, 255);
        box-shadow: 5px 4px 5px #000;
    }
    /* Per l'allineamento del navbar */
    
    .affix {
        top: 0;
        width: 100%;
    }
    
    .affix+.container-fluid {
        padding-top: 70px;
    }
    
    #share-buttons img {
        width: 60px;
        padding: 5px;
        border: 0;
        box-shadow: 0;
        display: inline;
    }
    /* Sfondo della pagina */
    
    #bg {
        position: relative;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
    
    #bg img {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -10;
    }
    /* Menu catalogo prodotti */
    
    .dropdown-menu {
        width: 1000px;
        height: 380px;
        z-index: 10;
    }
    /* Nomi delle catergorie del menu prodotti */
    
    .NomiCategorie {
        color: rgb(121, 4, 4);
        font-family: "Century Gothic", Times, serif;
    }
    /* Singole categorie, marche e ambienti del menu prodotti */
    
    .oggettiCategorie {
        color: rgb(34, 30, 30);
        font-family: "Book Antiqua", Times, serif;
        font-size: 15px;
    }
    
    .oggettiCategorie:hover {
        color: rgb(121, 4, 4);
    }
    /* Le colonne del menu dei prodotti */
    
    #listaMenu {
        height: 340px;
        border-left: 1px solid rgb(109, 97, 97);
    }
    /* Quando passo sopra alle colonne del menu dei prodotti */
    
    #listaMenu:hover {
        border-bottom: 2px solid rgb(255, 255, 255);
        box-shadow: 5px 4px 5px #000;
    }
    /* Nomi delle sezioni di prodotti nella home */
    
    .nomiSezioniProdotti {
        color: wheat;
        font-family: "Century Gothic", Times, serif;
        padding-left: 105px;
        color: white;
        text-shadow: 2px 2px 4px rgb(121, 4, 4);
    }
    /* Singolo prodotto in offerta */
    
    .coupon {
        border: 5px outset #bbb;
        width: 300px;
        height: 540px;
        border-radius: 15px;
        margin: 0 0;
        max-width: 600px;
    }
    
    .containerLogo {
        padding: 2px 16px;
        background-color: #f1f1f1;
    }
    
    .coupon img {
        width: 290px;
        height: 300px;
    }
    
    .containerTitoloETesto {
        background-color: #f1f1f1;
        padding: 5px;
    }
    
    .containerPrezzoEData {
        background-color: rgb(121, 4, 4);
        color: #f1f1f1;
        padding: 3px;
        padding-bottom: 35px;
    }
    
    .bottoneProdottoInOfferta {
        padding-block-end: 5px;
        float: right;
    }
    
    .titoloArticoloInOfferta {
        color: rgb(121, 4, 4);
    }
    
    .prezzo {
        background: #ccc;
        padding: 3px;
    }
    /* Contorno della sezione dei prodotti piu visti */
    
    .piuVisti,
    #contornoSezionePiuVisti {
        background-color: #eeeeee;
        border-radius: 10px;
        border-style: outset;
    }
    /* Slider dei prodotti piu visti */
    
    .slider {
        border-color: rgb(58, 52, 52);
        border-style: outset;
        border-radius: 10px;
        width: 1100px;
        height: 40%;
        margin: 20px auto;
        text-align: center;
        padding: 10px;
    }
    
    #sliderProdottoPiuVisti {
        background-color: #eeeeee;
        border-color: rgb(121, 4, 4);
        border-radius: 10px;
        border-style: outset;
    }
    /* Tasto mostra tutti prodotti piu visti */
    
    .tuttiProdottiPiuVisti {
        color: rgb(0, 0, 0);
        float: right;
        padding: 3.5px;
    }
    /* Footer */
    
    footer {
        background-color: #333333;
        height: 200px;
    }
    
    .bottoneTornaSu {
        height: 50px;
        width: 1349px;
        padding: 15px;
    }