@charset "UTF-8";
.navbar {
    border-radius: 0;
    z-index: 10;
    box-shadow: 5px 4px 5px #000;
    width: 100%;
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 50px;
    text-align: left;
}

.headerContainer {
    text-align: center;
}

.jumbotron {
    margin-bottom: 10;
    margin-top: 10;
    box-shadow: 5px 4px 5px #000;
}

body {
    background-image: url("images/bodyBackground.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}


/* Carousel */

#myCarousel {
    width: 830px;
    height: 360px;
}


/* Carrello */

.carrello {
    background-color: rgb(121, 4, 4);
}

.navbarOggetto {
    z-index: 0;
    height: 50px;
}

.menuDestra li {
    z-index: 1;
}


/* Mouse che passa sulle voci del navbar */

.navbar .navbarOggetto:hover {
    background-color: rgb(121, 4, 4);
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}


/* Per l'allineamento del navbar */

.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 70px;
}

#share-buttons img {
    width: 60px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}


/* Sfondo della pagina */

#bg {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#bg img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -10;
}


/* Menu catalogo prodotti */

.dropdown-menu {
    width: 1000px;
    height: 380px;
    z-index: 10;
}


/* Nomi delle catergorie del menu prodotti */

.NomiCategorie {
    color: rgb(121, 4, 4);
    font-family: "Century Gothic", Times, serif;
}


/* Singole categorie, marche e ambienti del menu prodotti */

.oggettiCategorie {
    color: rgb(34, 30, 30);
    font-family: "Book Antiqua", Times, serif;
    font-size: 15px;
}

.oggettiCategorie:hover {
    color: rgb(121, 4, 4);
}


/* Le colonne del menu dei prodotti */

#listaMenu {
    height: 340px;
    border-left: 1px solid rgb(109, 97, 97);
}


/* Quando passo sopra alle colonne del menu dei prodotti */

#listaMenu:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}


/* Nomi delle sezioni di prodotti nella home */

.nomiSezioniProdotti {
    color: wheat;
    font-family: "Century Gothic", Times, serif;
    padding-left: 105px;
    color: white;
    text-shadow: 2px 2px 4px rgb(121, 4, 4);
}


/* Singolo prodotto in offerta */

.inOfferta {
    text-align: center;
}

.coupon {
    border: 5px outset #bbb;
    width: 300px;
    height: 540px;
    border-radius: 15px;
    margin: 0 0;
    max-width: 600px;
}

.containerLogo {
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.coupon img {
    width: 290px;
    height: 300px;
}

.containerTitoloETesto {
    background-color: #f1f1f1;
    padding: 5px;
}

.containerPrezzoEData {
    background-color: rgb(121, 4, 4);
    color: #f1f1f1;
    padding: 3px;
    padding-bottom: 35px;
}

.bottoneProdottoInOfferta {
    padding-block-end: 5px;
    float: right;
}

.titoloArticoloInOfferta {
    color: rgb(121, 4, 4);
}

.prezzo {
    background: #ccc;
    padding: 3px;
}


/* Contorno della sezione dei prodotti piu visti */

.prodottiPiuVisti {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.couponPiuVisto {
    background-color: #eeeeee;
    border-radius: 10px;
    border-style: outset;
}

.couponPiuVisto img {
    width: 290px;
    height: 300px;
}

.titoloArticoloPiuVisto {
    color: rgb(121, 4, 4);
}


/* Footer */

footer {
    background-color: #333333;
    height: 250px;
}

.bottoneTornaSu {
    height: 50px;
    width: 100%;
    padding: 15px;
}


/*Login finestra */


/* Checkbox ricodami */

.containerCheckbox {
    display: inline;
}


/* Full-width input fields */

.animate input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.buttonLog {
    background-color: rgb(15, 160, 19);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.buttonLog:hover {
    box-shadow: 5px 4px 5px #000;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(121, 4, 4);
    color: white;
}

.cancelbtn:hover {
    box-shadow: 5px 4px 5px #000;
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height 
    overflow: auto; */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 10px;
}


/* Modal Content/Box */

.modal-content {
    text-align: center;
    background-color: #ffffff;
    margin: auto auto auto auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 5px outset rgb(121, 4, 4);
    padding: 10px;
    width: 500px;
    height: 580px;
    /* Could be more or less, depending on screen size */
}

.containerModal label {
    padding-left: 10px;
}

.containerModalBottom {
    text-align: left;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(121, 4, 4);
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/*Registrati finestra */


/* Checkbox ricodami */

.containerRegistrazione {
    display: inline;
}


/* Full-width input fields */

.animateReg input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.buttonReg {
    background-color: rgb(15, 160, 19);
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    cursor: pointer;
    width: 40%;
}

.buttonReg:hover {
    box-shadow: 5px 4px 5px #000;
}


/* Extra styles for the cancel button */

.cancelbtnReg {
    width: auto;
    padding: 10px 18px;
    width: 40%;
    background-color: rgb(121, 4, 4);
    color: white;
}

.cancelbtnReg:hover {
    box-shadow: 5px 4px 5px #000;
}


/* Center the image and position the close button */

.imgcontainerReg {
    text-align: right;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height 
    overflow: auto; */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 10px;
}


/* Modal Content/Box */

.modal-content {
    text-align: center;
    background-color: #ffffff;
    margin: auto auto auto auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 5px outset rgb(121, 4, 4);
    padding: 10px;
    width: 500px;
    height: 580px;
    /* Could be more or less, depending on screen size */
}

.containerModal label {
    padding-left: 10px;
}

.containerRegButton {
    text-align: center;
}


/* The Close Button (x) */

.closeReg {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.closeReg:hover,
.closeReg:focus {
    color: rgb(121, 4, 4);
    cursor: pointer;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Add Zoom Animation */

.animateReg {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}