.navbar {
    border-radius: 0;
    z-index: 10;
    box-shadow: 5px 4px 5px #000;
}

body {
    background: lightgray;
}

.jumbotron {
    margin-bottom: 10;
    margin-top: 10;
    box-shadow: 5px 4px 5px #000;
}

.navbar .navbarOggetto:hover {
    background-color: rgb(121, 4, 4);
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}

.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 70px;
}


/* Menu catalogo prodotti */

.dropdown-menu {
    width: 1000px;
    height: 380px;
    z-index: 10;
}


/* Nomi delle catergorie del menu prodotti */

.NomiCategorie {
    color: rgb(121, 4, 4);
    font-family: "Century Gothic", Times, serif;
}


/* Singole categorie, marche e ambienti del menu prodotti */

.oggettiCategorie {
    color: rgb(34, 30, 30);
    font-family: "Book Antiqua", Times, serif;
    font-size: 15px;
}

.oggettiCategorie:hover {
    color: rgb(121, 4, 4);
}


/* Le colonne del menu dei prodotti */

#listaMenu {
    height: 340px;
    border-left: 1px solid rgb(109, 97, 97);
}


/* Quando passo sopra alle colonne del menu dei prodotti */

#listaMenu:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}


/* Carousel */

#myCarousel {}


/* Carrello */

.product_name {
    padding-top: 10%;
}

.separatore {
    border: 2px;
    width: 1100px;
    border-style: solid;
}

.menu_basso {
    padding-top: 2%;
    border-style: solid;
    border: 2px;
    border-color: black;
}

.checked {
    color: yellow;
}

.descrizione {
    padding-top: 12%;
    padding-left: 3%;
}

.lista_venditori {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

footer {
    background-color: #333333;
    height: 200px;
}

.descrizione_bassa {
    font-style: oblique;
    font-weight: 400;
}

.button_carrello {
    padding-top: 10%;
}

.button_favoriti {
    padding-top: 10%;
}

.prezzo_prodotto {
    font-size: 120%;
}

tab-content {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 2px;
}

.marca_prodotto {
    padding: 1%;
    font-style: oblique;
    font-weight: 700;
}

.ambiente_prodotto {
    padding: 1%;
    font-style: italic;
}

.tipo_prodotto {
    padding: 1%;
}

.valutazioni_prodotto {
    padding: 2%;
}

a {
    color: rgb(121, 4, 4)
}

/* Footer */

footer {
    background-color: #333333;
    height: 200px;
}

.bottoneTornaSu {
    height: 70px;
    width: 100%;
    padding: 15px;
}
