/* Carousel */

#myCarousel {}


/* Carrello */

.product_name {
    padding-top: 10%;
}

.separatore {
    border: 2px;
    width: 1100px;
    border-style: solid;
}

.menu_basso {
    padding-top: 2%;
}

.checked {
    color: yellow;
}

.descrizione {
    padding-top: 12%
}