navbar {
    border-radius: 0;
    z-index: 10;
    box-shadow: 5px 4px 5px #000;
}

body {
    background: lightgray;
}

.jumbotron {
    margin-bottom: 10;
    margin-top: 10;
    box-shadow: 5px 4px 5px #000;
}

.separatore {
    border: 2px;
    width: 100%;
    border-style: solid;
}

.navbar .navbarOggetto:hover {
    background-color: rgb(121, 4, 4);
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}

.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 70px;
}


/* Menu catalogo prodotti */

.dropdown-menu {
    width: 1000px;
    height: 380px;
    z-index: 10;
}


/* Nomi delle catergorie del menu prodotti */

.NomiCategorie {
    color: rgb(121, 4, 4);
    font-family: "Century Gothic", Times, serif;
}


/* Singole categorie, marche e ambienti del menu prodotti */

.oggettiCategorie {
    color: rgb(34, 30, 30);
    font-family: "Book Antiqua", Times, serif;
    font-size: 15px;
}

.oggettiCategorie:hover {
    color: rgb(121, 4, 4);
}


/* Le colonne del menu dei prodotti */

#listaMenu {
    height: 340px;
    border-left: 1px solid rgb(109, 97, 97);
}


/* Quando passo sopra alle colonne del menu dei prodotti */

#listaMenu:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 4px 5px #000;
}


/* Sfondo della pagina */

#bg {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#bg img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -10;
}


/* Grid dei Prodotti */

.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding-bottom: 1%;
    padding-top: 2%;
}

.grid-item {
    background-color: lightgray;
    border: 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: auto;
    font-weight: 200;
    border-style: groove;
    text-align: center;
}


/* Footer */

footer {
    background-color: #333333;
    height: 200px;
}

.bottoneTornaSu {
    height: 70px;
    width: 100%;
    padding: 15px;
}

.mappa {
    padding-top: 4%;
    padding-left: 10%;
}

.contatti {
    list-style: none;
    padding: 0;
}

a {
    color: rgb(121, 4, 4)
}

.testo_prodotto {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

.titolo_prodotto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.titolo_sopra_prodotti {
    text-align: center;
    padding-top: 3%;
    font-size: 20px;
    color: antiquewhite;
}

.menu_selezione {
    padding-top: 2%;
}

.box_venditore {
    background: aliceblue;
    border: 1px groove black;
}

.info {
    padding-top: 10%;
    padding-left: 0;
}

.titolo_menu_selezione {
    color: antiquewhite;
    text-align: center;
}

.img_grid {
    width: 300px;
    height: 300px;
}